@charset "EUC-KR";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

section{
	display:flex;
	flex-direction:column;
	font-family: 'Pretendard-Regular';
	align-items: center;
}

#project-first-wrap{
	width:100%;
	height:100%;
  	display: flex;
    flex-direction: column;

}

#project-first-wrap>div:first-child{
	width:300px;
	height:70px;
	display:flex;
	justify-content:end;
	align-items:center;
	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color:#4e73df;
}

#project-update-window{
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top:30px;
    margin-left:30px;
}

#project-update-body{
	width:600px;
}

#floatingTextarea{
	resize:none;
	height:200px;
	overflow:scoll;
}

#project-update-main{
    display: flex;
    justify-content: space-evenly;
    align-items:center;

}
/* 프로젝트 제목 */
#project-update-title{
    font-weight: bolder;
    font-size: 25px;
    color:white;
    text-shadow: 3px 4px 5px black;
    margin-right:20px;
}

/* 프로젝트 리스트 css */
#project-list{
	width:auto;
	height:600px;
	margin-left: 30px;
	display:flex;
	flex-direction:column;
	align-items:center;

}


.form-check-input {
	position: relative;
}

#input-member{
	display:flex;
	flex-direction:column;

	margin-left:50px;
}


.form-check-label {
    margin-bottom: 0;
    width: 280px;
    margin-left:10px;
}

.form-check-input{
	margin-left:0;
}

#input-check-member{
	display:flex;

}

#input-group-text {
	margin-bottom:10px;
}

#member-save-btn{
	margin-top:10px;
}

#input-member-list{
	height:200px;
	overflow:auto;

   &::-webkit-scrollbar {
        width: 8px;
   }

   &::-webkit-scrollbar-track {
     background: #f1f1f1;
     border-radius: 10px;
   }

   &::-webkit-scrollbar-thumb {
     background: #888;
     border-radius: 10px;
     transition: all 0.3s ease;
   }

   &::-webkit-scrollbar-thumb:hover {
     background: #555;
   }
}

#checked-member-wrab{
	width:300px;
	display:flex;
	justify-content:space-between;
}

/* 프로젝트 목록 css */
/* 프로젝트 수정 목록 css */
#projectListTable{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#modal-size1{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 그래프 표시 */
.graph-container {
    width: 100%;
    display: flex;

}

.bar {
    width: 0;
    background-color: #1b35ffe3;
    margin: 10px 0;
    border-radius: 100px;
    overflow: hidden;
    height: 15px;
    transition: width 2s ease-in-out;
}
/*---------------------------------------  */


.project-choice{
	cursor:pointer;
}

#checked-member-wrab {
    border-radius: 30px;
    padding: 5px 20px;
    background-color: #d3d3d366;
    margin-top:10px;
}

#projectUpdateCancle{
	margin-right:30px;
}





