@charset "EUC-KR";
#project-update-window{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;

}

#project-update-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 프로젝트 제목 */
#project-update-title{
    font-weight: bolder;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
}
