/*
	전 사원 관리 페이지용 css~
*/

.allEmpCommuting {
	display: flex;
	justify-content: center;
}

.allEmpCommuting-div {
	width: 90%;
    min-height: 87vh;
    padding: 2%;
    margin-bottom: 1%;
}

.search-div {
	margin-bottom: 1%;
    margin-top: 3%;
    width: 50%;
}

.search-form {
	display: flex;
    align-items: center;
}

.com-table {
	width: 100%;
    text-align: center;
}

.com-table td {
 	vertical-align: middle;
 }

.pagebar-div {
	display: flex;
    justify-content: center;
}